.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.content{
    display: flex;
    gap: 20px;
}
.content a{
    text-decoration: none;
    color: black;
}
.content li{
    list-style: none;
}
.footer{
    background-color: #eee;
}