.top{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 40px;
    margin-bottom: 10px;
}
.top .title h1{
    font-size: 2rem;
}
.top .title p{
    font-size: 1.2rem;
    color: #666666;
}
.top .date p{
    font-size: 1.2rem;
    color: #666666;
}
.img{
    width: 100%;
    position: relative;
}
.img img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.content{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #666666;
}
.fcontent{
    margin-top: 40px;
    margin-bottom: 100px;
}
.hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hr hr{
    margin-top: 20px;
    border: none;
    border-top: 10px dotted #00000042;
    margin: auto;
    max-width: 100px;
}
@media screen and (max-width: 580px) {
    .top .title h1{
        font-size: 1.5rem;
    }
    .top .title p{
        font-size: 1rem;
    }
    .top .date p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 450px) {
    .top{
        display: flex;
        flex-direction: column;
    }
}
